## Welcome to your configuration files!
## Here's a few environmental variables that might come useful with lazer.
## Uncomment the line you need, the launch script will automatically pick them!

# Set launch arguments (e.g. mangohud, gamemoderun..)
# PRE_LAUNCH_ARGS="mangohud"

# Set experimental osu env. var for better audio latency, see: https://github.com/ppy/osu-framework/pull/6724
# Reason for the negative value (BASS docs): negative = exact sample count (e.g. -64 = 64 samples); positive = milliseconds
# OSU_TEMP_TESTING_BASS_CONFIG_DEV_PERIOD=-64

# OLD: Set custom PIPEWIRE_ALSA settings. Recommended to use OSU_TEMP_TESTING_BASS_CONFIG_DEV_PERIOD instead.
# PIPEWIRE_ALSA='{ alsa.period-bytes=512 alsa.periods=3 }'

# OLD: Force PipeWire to run at certain quants. Recommended to use OSU_TEMP_TESTING_BASS_CONFIG_DEV_PERIOD instead.
# PIPEWIRE_LATENCY=128/44100

# Set SDL's video driver (x11/wayland)
# SDL_VIDEODRIVER=wayland

# Enable SDL video double buffering (default: 1)
# SDL_VIDEO_DOUBLE_BUFFER=1

# SDL3 is now default: use the following to revert to SDL2 (only if you encounter issues! SDL3 is generally better)
# OSU_SDL3=0
